<div class="main posts-index">
  <div class="container">
  <div class="form-heading"><%= Time.now.year %>/<%= Time.now.month %></div>
    <div class="timetable">
        <table>
            <tr>
                <th>日付</th>
                <th>出勤時間</th>
                <th>退勤時間</th>
                <th>労働時間</th>
                <th>休憩時間</th>
                <th>残業時間</th>
            </tr>
            <% sum_overtime = 0 %>
            <% (Date.parse("2018-11-01")..Date.parse("2018-11-30")).each do |time| %>
            <tr>
                <td><%= time.strftime("%m/%d") %></td>

                <% @startofwork = Timecard.find_by(user_id: @current_user.id, startofwork: time.beginning_of_day...time.end_of_day ).try(:startofwork) %>
                <% @endofwork = Timecard.find_by(user_id: @current_user.id, endofwork: time.beginning_of_day...time.end_of_day ).try(:endofwork) %>
                <% if @startofwork && @endofwork %><% @gaptime = TimeDifference.between(@startofwork, @endofwork).in_hours %><% else %><% @gaptime = nil %><% end %>
                <% if @gaptime && @gaptime >= 5 && @gaptime < 10 %><% @breaktime = 1 %><% elsif @gaptime && @gaptime >= 10 %><% @breaktime = 2 %><% elsif @gaptime && @gaptime < 5 %><% @breaktime = 0 %><% else %><% @breaktime = nil %><% end %>
                <% if @gaptime && @breaktime %><% @worktime = @gaptime - @breaktime %><% else %><% @worktime = nil %><% end %>
                <% if @worktime && @worktime > 8 %><% @overtime = @worktime - 8 %><% else %><% @overtime = 0 %><% end %>

                <td><% if @startofwork %><%= @startofwork.strftime("%H:%M") %><% else %><%= nil %><% end %></td>
                <td><% if @endofwork %><%= @endofwork.strftime("%H:%M") %><% else %><%= nil %><% end %></td>
                <td><% if @worktime %><%= "#{@worktime}h" %><% else %><%= nil %><% end %></td>
                <td><% if @breaktime %><%= "#{@breaktime}h" %><% else %><%= nil %><% end %></td>
                <td><% if @overtime && @worktime %><%= "#{@overtime}h" %><% end %></td>
                <% sum_overtime += @overtime if @overtime && @worktime %>
            </tr>
           <% end %>
           <%= sum_overtime %>
        </table>
    </div>
    <div class="timetable">
    <input type="submit" value="csv出力">
    </div>
  </div>
</div>
